*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}


@font-face {
    font-family: Helvetica-condensed;
    src: url(Fonts/Helvetica\ Condensed\ Regular.ttf);
}

@font-face {
    font-family: minhaFonte;
    src: url(Fonts/helvetica-25-ultra-light.otf);
    font-weight: 25;
}

@font-face {
    font-family: Roboto-light;
    src: url(Fonts/Roboto-Light_0.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(Fonts/Roboto-Regular_0.ttf);
}

.tablet{
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100rem;
    margin: auto;
    padding: 5rem 0 5rem 0;
}

.logo-tablet{
    width: 17rem;
    margin-right: 1.5rem;
}

.logo-tablet:hover{
    cursor: pointer;
}

.hamburguer{
    width: 4.5rem;
}

.mobile{
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 5rem 0 8rem 0;
    max-width: 100rem;
}

.hamburguer-menu{
    /* display: none; */
    position: absolute;
    list-style: none;
    width: 30rem;
    top: 10vh;
    left: 88px;
    background-color: #29aae2;
}

.hamburguer-menu li{
    padding-bottom: 5rem;
}

.hamburguer-menu li a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: 'Roboto-light';
    letter-spacing: 0.1rem;
}

.background{
    background-image: url(imagens/index-image.jpg);
    background-position: center;
    background-size: cover;
}

header nav ul li{
    list-style: disc;
    color: white;
    padding-right: 2rem;
    font-size: 2.5rem;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.9rem;
    font-family: 'Roboto-regular';
    margin-right: 1.5rem;
    letter-spacing: 0.1rem;
}

.dot{
    list-style: none;
}

header nav ul li a:hover{
    cursor: pointer;
    border-bottom: 0.1rem solid white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100rem;
    margin: auto;
    padding: 5rem 0 5rem 0;
}

.logo{
    width: 17rem;
}

.logo:hover{
    cursor: pointer;
}

header nav ul{
    display: flex;
}

main{
    margin: auto;
    width: 100%;
    max-width: 100rem;
    max-height: 52.7rem;
    color: white;
    font-family: 'minhaFonte';
    padding: 15rem 0 44.4rem 0;
}

main h1{
    font-size: 12rem;
    font-weight: 25;
    padding-bottom: 1.5rem;
}

main h2{
    font-size: 5.2rem;
    font-weight: 25;
}

.cadastro-container{
    background-color: #29abe2;
    max-width: 192rem;
    margin: auto;
}

.cadastro-container h1{
    font-family: 'minhaFonte';
    text-align: center;
    padding: 8rem;
    font-size: 5rem;
    color: white;
    font-weight: 25;
    letter-spacing: 0.1rem;
}

.cadastro{
    font-family: 'Roboto-regular';
    max-width: 65rem;
    margin: auto;
    display: grid;
    font-size: 1.4rem;
    color: white;
}

.cadastro label{
    padding-bottom: 1rem;
}

.input{
    border: none;
    border-bottom: 0.1rem solid white;
    background-color: #29aae2;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.6rem;
    padding-bottom: 0.3rem;
    outline: 0;
}

::placeholder{
    color: white;
}

.cadastrar-btn{
    text-align: center;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 10rem;
    font-family: 'minhaFonte';
    font-size: 5rem;
    font-weight: 25;
    color: #29aae2;
    background-color: #012d51;
    border: none;
    padding: 1.5rem 0; 
    width: 60%;
}

.lista-container{
    background-color: white;
    color: #29abe2;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 15rem;
    }

.lista-container h1{
    padding: 3rem 0 5rem 0;
    font-size: 5rem;
    font-family: 'minhaFonte';
    font-weight: 25;
}

.tabela-container{
    display: flex;
    font-size: 1.8rem;
    max-width: 110rem;
    margin: auto;
}

.tabela{
    padding-bottom: 5rem;
}

table, td, th{
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

th{
    color: #012d51;
    padding: 1.5rem;
    font-family: 'Roboto-regular';
}

td {
    color:#808080;
}

td, th{
    border-top: 0.1rem solid #29aae2;
    border-right: 0.1rem solid #29abe2;
    width: 15rem;
}

td{
    text-align: center;
    font-family: 'Helvetica-condensed';
}

.numeros{
    font-family: 'Roboto-light';
    color: #012d51;
    width: 7rem;
}

.sem-borda{
    border-top: none;
}

.telefone{
    border-right: none;
}

.topo-icon{
    width: 5rem ;
    position: fixed;
    right: 10rem;
    bottom: 7.5rem;
}

.topo-icon:hover{
    cursor: pointer;
}

footer{
    text-align: center;
    margin: auto;
    background-image: url(imagens/rodape-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto-light';
    font-size: 2rem;
    padding: 5rem 0 5rem 0;
}

footer p{
    padding: 1rem;
    color: white;
}

@media (max-width: 1355px){
    .topo-icon{
        right: 50px;
    }
}

@media (max-width:1280px){
    html{
        font-size: 45%;
    }
    main{
        padding: 20rem 0 40rem;
    }
    .cadastro{
        font-size: 2rem;
        max-width: 70rem;
    }
    .cadastro label{
        width: 100%;
        margin: auto;
    }
    .input{
        margin: auto;
        width: 100%;
        font-size: 2rem;
        padding-bottom: 0.7rem;
    }
}

@media (max-width: 1100px){
    .topo-icon{
        width: 3rem;
        right: 20px;
    }
    .container{
        max-width: 80rem;
    }
    main{
        max-width: 80rem;
    }
}

@media (max-width: 1000px){
    .topo-icon{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    html{
        font-size: 37%;
    }
    .tablet{
        display: flex;
    }
    .container{
        display: none;
    }
    .cadastrar-btn{
        width: 65%;
    }
    footer{
        max-width: 768px;
    }

    .cadastro{
        font-size: 2.2rem;
        max-width: 75rem;
    }
    .cadastrar-btn{
        font-size: 5rem;
    }
    /* .hamburguer-menu{
        position: absolute;
    } */
}

@media only screen and (max-width: 656px){
    html{
        font-size: 30%;
    }
    .tablet{
        display: none;
    }
    .container{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .background{
        background-image: url(imagens/index-image-mobile.jpg);
        width: 100%;
        height: 80vh;
        background-size: cover;
    }
    main{
        padding: 5rem 0 45rem 0;
        text-align: center ;
    }
    main h1{
        font-size: 18rem;
    }
    main h2{
        font-size: 8rem;
    }
    .cadastro{
        max-width: 100%;
        font-size: 2.7rem;
    }
    .cadastro-container h1{
        font-size: 8rem;
    }
    .cadastro label{
        margin: auto;
        width: 80%;
    }
    .input{
        margin: auto;
        width: 80%;
        font-size: 3rem;
        padding-bottom: 0.7rem;
    }
    .cadastrar-btn{
        width: 80%;
        font-size: 8rem;
    }
    .lista-container h1{
        font-size: 8rem;
        max-width: 50%;
        margin: auto;
    }
    footer{
        text-align: center;
        margin: auto;
        background-image: url(imagens/rodape-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: 'Roboto-light';
        font-size: 2rem;
        padding: 5rem 0 5rem 0;
    }
}